.navbar{
    background-color: white;
    padding: 0px !important;
    margin-top: 1rem !important;
    

}

.navbar-toggler{
    border: transparent !important;
}

.menu{
    margin-left: 10%;
    width: 80%;
    
    display: flex;
    justify-content: center;
    align-content: center; 
    
}

.links{
    /*padding: 7px 13px;*/
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center !important;
    color: #594545;
    transition: .3;
}

.cuenta{
    /*padding: 7px 13px;*/
    text-decoration: none;
    font-size: 18px;
    align-items: center !important;
    color: #594545;
    transition: .3;
}

.placeholder{
    font-size: 18px;
    color: transparent !important;
}

.links:hover{
    border-bottom: .5px solid #594545;
    color: #b89898 ;
}

.bi{
    color:#594545;
    font-size: 30px;

}

.dropdown-toggle::after {
    display: none !important; 
  }

  .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active, .btn {
    color: #000 !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }

  .dropdown-menu{
    border-radius: 0px !important;
  }

/*@media screen and (max-width: 376px){
    .menu{
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 9rem;
    }

    .links{
        padding: 0 10px;
        font-size: 16px;
    }
}

@media screen and (max-width: 769px){
    .menu{
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 9rem;
    }

    .links{
        padding: 0 10px;
        font-size: 16px;
    }
}*/