.navbar{
    background-color: white;
    padding: 0px !important;
    margin: 0px !important;

}

.navbar-toggler{
    border: transparent !important;
}

.menu{
    margin-left: 10%;
    width: 100vw;
    height: 55px;
    display: flex;
    justify-content: center;
    align-content: center; 
}

.links{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    justify-content: center;
    align-content: center; 
    display: block;
    color: #423155;
    transition: .3;
}

.cuenta{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    justify-content: center;
    align-content: center; 
    display: block;
    color: #423155;
    transition: .3;
}

.placeholder{
    font-size: 18px;
    color: transparent !important;
}

.links:hover{
    border-bottom: .5px solid #423155;
    color: #a9a2b1 ;
}

@media screen and (max-width: 376px){
    .menu{
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 9rem;
    }

    .links{
        padding: 0 10px;
        font-size: 16px;
    }
}

@media screen and (max-width: 769px){
    .menu{
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 9rem;
    }

    .links{
        padding: 0 10px;
        font-size: 16px;
    }
}