
.info-user-container{
    width: 35rem;
    height: fit-content;
    box-shadow: 0px 4px 4px 0px #594545;
    display: flex;
    flex-direction: column;
}

.info-user{
    margin: 3%;
    padding-top: 2%;
    
}

.info-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
    padding-bottom: 2%;
}

.img-info-perfil{
    font-size: 35px;
}

.info-list{
    list-style-type: none;
    padding-right: 6.3%;
    margin-top: 2%;
    height: fit-content;
}

.item-list-title{
   padding-right: 5%;
}

.item-list{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 3%;
    flex-wrap: wrap;
    align-content: flex-start;
}