footer {
    background-color: #495D43;
    text-align: center;
    bottom: 0; 
    width: 100%;
    height: auto;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 20px;
    padding: 15px;
}