.conteiner-card-service{
    height: 50px;
    width: 1200px;
    box-shadow: 0px 0px 5px 1px #594545;
    border: none !important;
    border-radius: 0 !important;
}

.title-primary{
    background-color: #9e7676;
   margin-bottom: 5px;
    
}

.p-service{
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 0;
}

.p-professional{
    text-align: center;
    color: white;
    margin: 0;
    
}

.title-secondary{
    background-color: #9e7676;
    height: 50px;
}

.p-que-es{
    color:white;
    margin: 0;
}

.p-beneficios{
    color: white;
    margin: 0;
}

.p-input-service{
    margin-bottom: 0;

}

.container-option-hour{
    width: 206px;
    height: 28px;
    
    
}

.inputs-service{
    outline: none !important;
    background-color: #f4f3ed;
    border: solid 1px #594545;
    box-shadow: 0px 1px 2px 1px #594545;
}

.button-reservar-service{
    background-color: #594545;
    border: solid 1px #594545;
    color: white;
    margin-top: 15px;
    width: 206px;
}