body{
    background-color: white;
}

.containerLogo{
    padding: 2px;
    text-align: center;
}

.img-logo{
    width: auto;
}

/**
@media screen and (max-width: 376px){
    img{
        width: 250px;
        height: 100px;
    }
}
*/