.appointment-list-container{
    height: 50rem; 
    width: 40rem;
    position: relative;
    box-shadow: -2px 2px 5px 0px #987A9D;
}

.scroller-container{
    height: 40rem;
    overflow:auto;
    margin: 0% 5%;
    padding: 2% 0%;
}

.scroller-title{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.appointment-dropdown{
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
    padding-bottom: 2%;
}

.btn-primary{
    --bs-btn-color: none !important; 
    --bs-btn-bg: none !important;
    --bs-btn-border-color: none !important;
    --bs-btn-hover-color: none !important; 
    --bs-btn-hover-bg: none !important;
    --bs-btn-hover-border-color: none !important;
    --bs-btn-active-color: none !important; 
    --bs-btn-active-bg: none !important;
    --bs-btn-active-border-color: none !important;
}

.dropdown-menu{
    --bs-dropdown-border-radius: none !important;
}

.appointment-cards{
    height: 100px;
    width:100%;
    border:5px solid yellow;
}

.appointment-cards-container{
    padding: 0% 2% 2% 2%;

}

.card-body{
    padding: 2% !important;
}

.card{
    border: none !important;
}

.card-container{
    display: flex;
    padding: 1%;
    box-shadow: -2px 2px 5px 0px #987A9D;
}

.img-appointment-card{
    width: 22%;
    margin: 2%;
}

.prof-text{
    padding-left: 2%;
    font-size:small;
}

.time-text{
    padding-left: 2%;
    height: 1%;
}

.service-text{
    height: auto;
    margin-bottom: 0 !important;
}

.day-text{
    height: 1%;
    margin-bottom: 0 !important;
}

.card{
    border-radius: 0 !important;
}

.card-title{
    margin-bottom: 0 !important;
}