.div1{
    height: 15rem; 
    width: 500px;
    position: relative;
}

.div2{
    max-height: 100%;
     overflow:auto;
     box-shadow: -2px 2px 5px 0px #987A9D;
}

.div3{
    height:1500px;
    border:5px solid yellow;
}