body{
    background-color: rgb(255, 255, 255);
  }
  
  .container-form-login{
    margin: 60px auto;
    height: 550px;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    display:flex ;
    box-shadow: 5px 5px 5px #9e7676;
  }
  
  .form-login{
    background-color: #fff;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    padding: 2rem;
    width: 400px;
    height: 540px;
    margin-left:  50px;
    margin-top: 5px;
  }

  /*form-input es form-control de bootsrap copiado y modificado*/
  .form-input-login{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    transition: border-color .15s ease-in-out;
    box-shadow: 2px 2px  #594545;
  }

  .form-input-login:focus {
    border-color: #594545 !important;
    outline: none !important;
  }

  .form-input-login::-ms-reveal,
  .form-input-login::-ms-clear {
    display: none;
  }

  .title-login{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #594545;
    font-size: 20px;
    margin-top: 25px;
  }
  
  .form-label-login{
    color: #594545;
    margin-bottom: 2px;
    padding: 5px;
    
  }

  .input-login{
    width: 100%;
    
  }

  
  .image-login{
    background-image: url('../../../../public/imagenes/image-auth.jpg');
    background-position: center center;
    background-size: cover;
    flex: 0 0 calc(60%);
    margin-top: 5px;
   
  }

  .password-input-login{
    display: grid;
    grid-template-columns: repeat(auto-fill,
    minmax(200px, 1fr));
  
  }

  .visible-invisible-login{
    align-self: center;
    position: absolute;
    justify-self: end;
    padding-right: 0.7%;
  }

  .button-login{
    background-color: #9e7676;
    margin-top: 15px;
    width:100% ;
    color: white;

  }

  .texto-validaciones-login{
    color:brown;
  }
  
  .container-question{
    margin-top: 5px;
    text-align: center;
  }

  .question {
    margin-top: 1rem;
    margin-bottom: .2rem;
  }
  
  .a-registrate{
    color: #594545;
  }
  .img-logoziba-small-login{
    margin-left:55px ;
    cursor: pointer;
  }