.square-info-home{
    background-color: #B89898;
    width: 100%;
    height: 400px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.border-square-two{
    border: solid 2px white ;
    padding: 10px;
}
.border-square{
    border: solid 2px white ;
    padding: 15px;
}

.title-info-home{
    text-align: center;
    font-size: 30px;
    color: #594545;
    padding-top: 20px;
}

.text-info-home{
    text-align: center;
    margin-left: 10px;
    margin-left: 10px;
    margin-top: 25px;
}

.square-two-info{
    background-color: white;
    width: 700px;
    height: 300px;
}