.square-info-home{
    background-color: #dcc9dd;
    width: auto;
    height: 350px;
    margin-top: 10%;
  
    
}

.title-info-home{
    text-align: center;
    font-size: 30px;
    color: #423155;
   
    
    
}

.square-two-info{
    background-color: white;
    width: 700px;
    height: 300px;
    
    /*margin-left: auto;
    margin-right: auto;*/
   
   
}