body{
  background-color: rgb(255, 255, 255);
}

.container-register{
  margin: 60px auto;
  max-width: 1200px;
  width: 85%;
  box-shadow: 5px 5px 5px #9e7676;
}

.container-form-register{
  display:flex ;
  
}

.form-register{
  background-color: #ffff;
  width: 690px;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  padding: 2rem;
  
}

.fields-name-and-lastname{
  display: flex;
  
}

.fields-passwords{
  display: flex;
}

/*form-input es form-control de bootsrap copiado y modificado*/
.form-input-register{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  transition: border-color .15s ease-in-out; 
  box-shadow: 2px 2px#594545;
}

.form-input-register:focus {
  border-color: #594545 !important;
  outline: none !important;
}


.form-input-register::-ms-reveal,
.form-input-register::-ms-clear {
  display: none;
}

.field-name {
  margin-right: 3px;
}

.field-password {
  margin-right: 3px;
}

.title-register{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #594545;
  font-size: 20px;
  margin-bottom: 15px;
}

.form-label-register{
  color: #594545;
  padding: 5px;
  font-size: 15px;
}

.input{
  width: 100%;
}

.image{
  background-image: url('../../../../public/imagenes/image-auth.jpg');
  background-position: center center;
  background-size: cover;
  flex: 0 0 calc(60%);
}

.password-input-register{
  display: grid;
  grid-template-columns: repeat(auto-fill,
    minmax(200px, 1fr));

}

.visible-invisible-register{
  align-self: center;
  position: absolute;
  justify-self: end;
  padding-right: 0.7%;
}

.button-register{
  background-color: #9e7676;
  margin-top: 15px;
  width:100%;
  color: white;

}
.a-login{
  color: #594545;
}
.container-question-register{
  margin-top: 5px;
  text-align: center;
}

.question {
  margin-top: 1rem;
  margin-bottom: .2rem;
}

.text-validation-register{
  color:red;
}